<div class="contenedor">
    <div class="colum1">
        <a class="link" href="http://localhost:4200/oblaboratorista" type="button" class="buttonsi">Gestionar laboratorista</a>

        <a  type="button" href="http://localhost:4200/newlab" class="buttonsi">Nuevo laboratorio</a >
    </div>
    <div class="colum2">
        <a  type="button" href="http://localhost:4200/obusuario" class="buttonsi">Gestionar usuarios</a >

        <a  type="button" href="http://localhost:4200/home" class="buttonsi">Salir</a >
    </div>
</div>

